@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration-line: none;
}

img {
    max-width: 100%;
}

/* градиент берем с сайта-генератора */
.wrapper {
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(26, 14, 1, 1) 100%);
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    /* 50% от ширины всей шапки */
    width: 50%; 
}

/* если изображение перекрывает объект (например: меню), то ставим индекс объекта больше, чем у изображения и добавляем позицию релатив */
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

/* Полоска под активным элементом */
header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

/* Создаем эффект при наведении на шапку - навигацию - список - элемент, но не на активный, но не на кнопку - ссылка */
header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

/* Стиль кнопки. Шапка - навигация - список - элемент, кнопка - ссылка */
header nav ul li.btn a {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    /* эффект 500 милисек - название самого эффекта */
    transition: all 500ms ease;
}

/* Эффект при наведении, затемнение*/
header nav ul li.btn a:hover {
    background: #9e590f;
}

/* добавляем индекс, так как изображение перекрывает меню */
.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #DC7000;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: #FA9021;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    transition: all 500ms ease;
    font-size: 17px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* не достаточно просто указать значение - абсолют, нужно в классе hero прописать релатив */
.hero img {
    position: absolute;
    top: -150px;
    right: 0;
}

.trending {
    padding-top: 50px;
}

.trending h3{
    font-size: 31px;
    font-weight: 600;
}

.trending .see-all,
.projects .see-all {
    color: #fff;
    background: #25211d;
    border-radius: 5px;
    padding: 10px 25px;
    float: right;
    display: block;
    text-transform: uppercase;
    /* плавность анимации */
    transition: all 500ms ease;
}

/* анимация при наведении */
.trending .see-all:hover,
.projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    width: 100%;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span img{
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.big-text {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    width: 800px;
    padding: 50px 0;
}

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    /* ??? */
    line-height: 170%;
    width: 40%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
    margin-bottom: 30px;
}

.features {
    background: url('/images/background-feature2.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

/* если идет перечисление элементов, к которым должно быть применимо свойство, то перечисляются они через запятую */
.features h3, 
.features p {
    text-align: center;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    /* ранее использовали значение спайс-битвин, которое делало равные отступы от объектов, задействуя всю ширину */
    /* выравнивает изображения о центру */
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block img {
    margin-bottom: 15px;
}

.projects {
    text-align: center;
    padding: 100px 0;
}

.projects h3 {
    font-size: 30px;
    font-weight: 600;

}

.projects p {
    font-size: 14px;
    font-weight: 400;
    padding: 30px 0 50px 0;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .see-all {
    float: none;
    width: 60px;
    margin: auto;
}
