@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    background: #000;
}

a {
    text-decoration-line: none;
}

img {
    max-width: 100%;
}

/* градиент берем с сайта-генератора */
.wrapper {
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(26, 14, 1, 1) 100%);
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo,
footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    /* 50% от ширины всей шапки */
    width: 50%; 
}

/* если изображение перекрывает объект (например: меню), то ставим индекс объекта больше, чем у изображения и добавляем позицию релатив */
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

/* Полоска под активным элементом */
header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

/* Создаем эффект при наведении на шапку - навигацию - список - элемент, но не на активный, но не на кнопку - ссылка */
header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

/* Стиль кнопки. Шапка - навигация - список - элемент, кнопка - ссылка */
header nav ul li.btn a, 
.email .block button {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    /* эффект 500 милисек - название самого эффекта */
    transition: all 500ms ease;
}

/* Эффект при наведении, затемнение*/
header nav ul li.btn a:hover,
.email .block button:hover {
    background: #9e590f;
}

/* добавляем индекс, так как изображение перекрывает меню */
.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #DC7000;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn,
.hero-about .info .btn,
.feedback form .btn {
    background: #FA9021;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    transition: all 500ms ease;
    font-size: 17px;
}

.hero--info .btn:hover,
.hero-about .info .btn:hover,
.feedback form .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* не достаточно просто указать значение - абсолют, нужно в классе hero прописать релатив */
.hero img {
    position: absolute;
    top: -150px;
    right: 0;
}

.trending {
    padding-top: 50px;
}

.trending h3{
    font-size: 31px;
    font-weight: 600;
}

.trending .see-all,
.projects .see-all {
    color: #fff;
    background: #25211d;
    border-radius: 5px;
    padding: 10px 25px;
    float: right;
    display: block;
    text-transform: uppercase;
    /* плавность анимации */
    transition: all 500ms ease;
}

/* анимация при наведении */
.trending .see-all:hover,
.projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
    width: 100%;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span img{
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.big-text {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    width: 800px;
    padding: 50px 0;
}

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    /* ??? */
    line-height: 170%;
    width: 40%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
    margin-bottom: 30px;
}

.features {
    background: url(../images/bg2.png) no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

/* если идет перечисление элементов, к которым должно быть применимо свойство, то перечисляются они через запятую */
.features h3, 
.features p {
    text-align: center;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    /* ранее использовали значение спайс-битвин, которое делало равные отступы от объектов, задействуя всю ширину */
    /* выравнивает изображения о центру */
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block img {
    margin-bottom: 15px;
}

.projects {
    text-align: center;
    padding: 100px 0;
}

.projects h3 {
    font-size: 30px;
    font-weight: 600;

}

.projects p {
    font-size: 14px;
    font-weight: 400;
    padding: 30px 0 50px 0;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .see-all {
    float: none;
    width: 60px;
    margin: auto;
}

.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email .block {
    background: #1c140f;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}

.email .block p {
    font-size: 17px;
    font-weight: 400;
    width: 520px;
}

.email .block input {
    background: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 380px;
    font-family: inherit;
    padding: 17px 35px;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    right: -100px;
    z-index: 1;
    padding-right: 130px;
}

.email .block input::placeholder {
    color: #898989;
}

.email .block button {
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 13px 17px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.hero-about {
    position: relative;
}

.hero-about .info {
    width: 500px;
    padding: 250px 0;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .info .btn{
    margin-top: 50px;
}

.hero-about img{
    position: absolute;
    right: -270px;
    top: 0;
}

.work {
    padding: 80px 0;
}

.work h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

.work .blocks .block h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
}

.work .blocks .block .badge {
    font-size: 14px;
    font-weight: 400;
    border-radius: 7px;
    padding: 10px 20px;
}

.work .blocks .block .badge.purple {
    background: #B000DC;
}

.work .blocks .block .badge.brown {
    background: #DC4200;
}

.work .blocks .block .badge.green {
    background: #00DC8D;
}


.work .blocks .block p {
    font-size: 14px;
    font-weight: 400;
}

.work .blocks .block {
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #1C140F;
}

/* Страница контакты */
.hero-contacts h1 {
    text-align: center;
    font-size: 33;
    font-weight: 600;
    margin: 20px 0;
    padding-top: 20px;
}

.hero-contacts p {
    text-align: center;
    font-size: 16;
    font-weight: 500;
    margin-bottom: 70px;
}

.hero-contacts img {
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
}

.feedback {
    padding: 70px 0;
    background: #1C140F;
}

.feedback h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 15px;
}

.feedback p {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

.feedback form {
    margin: 80px auto;
    width: 600px;
}

.feedback form .inline {
    display: flex;
    justify-content: space-between;
}

.feedback form .inline > div{
    width: 50%;
}

.feedback form label {
    color: #4F4F4F;
    font-size: 14px;
}

.feedback form input,
.feedback form textarea {
    background: #2c2420;
    border-radius: 9px;
    border: 0.6px solid #4F4F4F;
    /* делает все поля блоками, поэтому теперь они не отображаются на одной линии с текстом */
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form .one-line {
    width: 95%;
}

.feedback form textarea {
    resize: none;
    height: 150px;
}

.feedback form .btn {
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    float: right;
    position: relative;
    right: 8px;
}

/* =============================================================================== */
footer {
    background: #000;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;

}

footer .blocks .logo {
    font-size: 24px;
}

footer .blocks p {
    width: 330px;
    margin: 15px 0;
    opacity: 0.8;
}

footer .blocks h4 {
    font-weight: 500px;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
    /* прозрачность */
    opacity: 0.8;
}

footer .blocks ul li {
    margin-top: 7px;
}

/* задает отступы, убираем обводку, задаем высоту, прописываем цвет */
footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer > p {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}